.planetList {
    display:flex;
    overflow-x: scroll;
}
.characterList {
    display:flex;
    overflow-x: scroll;
    /* overflow-x:scroll; */
}
/* .scroller {
    overflow-x: auto;
    white-space: nowrap;
}
.scroller::-webkit-scrollbar {
    height: 10px;
}
.scroller::-webkit-scrollbar-track {
    background-color: darkgray;
    border-radius: 15px;
}
.scroller::-webkit-scrollbar-thumb {
    background-color: gray;    
    border-radius: 15px;      
    border: 3px solid orange;  
} */

#indivCard {
    margin:auto;
}
#cardTop {
    display: flex;
}
#cardTopText {
    text-align: center;
}
#traitList {
    display:flex;
    justify-content: space-around;
    border-top: 1px solid red;
    padding-top: 3rem;
    padding-bottom:3rem;
}
.trait {
    display:block;
    justify-content: space-between;
    text-align: center;
    font-size: large;
    /* border-left: 1px solid red;
    padding-left: 2rem; */
}

.card {
    flex-shrink: 0;
}

#charImg{
    max-width: 100%;
    height: auto;
}
.favorite {
    /* width: 45px;
    height: 45px; */
    color: white;
    margin-left: 2rem;
}
#favItem {
    justify-content: space-between;
    display:flex;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}
#delete {
    border:none;
    background-color: red;
    border-radius: 50%;
}
.dropright .dropdown-menu{
    left:auto!important;
    right:0!important;
  }

#portal {
    padding-top: 40vh;
    display:grid;
    margin:auto;
    width: 20vw;
}